.content {
    background-color: $main_color;
}

.info {
    background-color: $main_color;
    position: relative;
    color: #fff;
    padding-bottom: 30px;
    &-img {
        width: 100%;
    }
    &-baloon {
        padding: 0 2%;
        float: left;
        position: relative;
        &.lokum {
            top: 30px;
            width: 24%;
            @media (min-width: 1000px) {
                display: none;
            }
            
        }
        &.sart {
            top: $sart_top;
            width: 64%;
            margin-bottom: $sart_top;
            @media (min-width: 550px) {
                width: 264px;
                top: $sart_top * 2;
                margin-bottom: ($sart_top * 2) + 20;
            }
            @media (min-width: 1200px) {
                margin-left: 30px;
            }
        }
    }
    &-heading {
        display: block;
        font-size: 36px;
        font-family: $font_bold;
        letter-spacing: 1px;
        @media (min-width: 550px) {
            display: none;
        }
        small {
            font-size: 20%;
            display: block;
        }
    }
    &-subheading {
        letter-spacing: 1px;
        font-size: 18px;
        @media (min-width: 550px) {
            display: none;
        }
    }
}