//colors
$main_color: #a70058;
$gray_dark: #333;
$red_color: #d3111d;
//font_family
$font_default: 'flexoregular';
$font_bold: 'flexobold';
$font_thin: 'flexothin';
//scales
$sart_top: -38px;
$radio_left: 10px;